<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brush</key>
	<string>brush.glif</string>
	<key>close</key>
	<string>close.glif</string>
	<key>coordinate-dot</key>
	<string>coordinate-dot.glif</string>
	<key>coordinate-dot-selected</key>
	<string>coordinate-dot-selected.glif</string>
	<key>coordinate-grid</key>
	<string>coordinate-grid.glif</string>
	<key>disclosure-bullet</key>
	<string>disclosure-bullet.glif</string>
	<key>disclosure-closed</key>
	<string>disclosure-closed.glif</string>
	<key>disclosure-open</key>
	<string>disclosure-open.glif</string>
	<key>duplicate</key>
	<string>duplicate.glif</string>
	<key>duplicate-repeat</key>
	<string>duplicate-repeat.glif</string>
	<key>exclude</key>
	<string>exclude.glif</string>
	<key>eye-closed</key>
	<string>eye-closed.glif</string>
	<key>eye-open</key>
	<string>eye-open.glif</string>
	<key>flip-h</key>
	<string>flip-h.glif</string>
	<key>flip-v</key>
	<string>flip-v.glif</string>
	<key>glyph-grid</key>
	<string>glyph-grid.glif</string>
	<key>grid</key>
	<string>grid.glif</string>
	<key>hyperpen</key>
	<string>hyperpen.glif</string>
	<key>intersect</key>
	<string>intersect.glif</string>
	<key>invert</key>
	<string>invert.glif</string>
	<key>knife</key>
	<string>knife.glif</string>
	<key>lasso</key>
	<string>lasso.glif</string>
	<key>list</key>
	<string>list.glif</string>
	<key>measure</key>
	<string>measure.glif</string>
	<key>menu-check</key>
	<string>menu-check.glif</string>
	<key>menu-chevron</key>
	<string>menu-chevron.glif</string>
	<key>menu-down</key>
	<string>menu-down.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>node-resize</key>
	<string>node-resize.glif</string>
	<key>pen</key>
	<string>pen.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>preview</key>
	<string>preview.glif</string>
	<key>rot-ccw</key>
	<string>rot-ccw.glif</string>
	<key>rot-cw</key>
	<string>rot-cw.glif</string>
	<key>save</key>
	<string>save.glif</string>
	<key>save-as</key>
	<string>save-as.glif</string>
	<key>select</key>
	<string>select.glif</string>
	<key>select-all-layers</key>
	<string>select-all-layers.glif</string>
	<key>select-menu</key>
	<string>select-menu.glif</string>
	<key>shape-ellipse</key>
	<string>shape-ellipse.glif</string>
	<key>shape-metaball</key>
	<string>shape-metaball.glif</string>
	<key>shape-rectangle</key>
	<string>shape-rectangle.glif</string>
	<key>shapes</key>
	<string>shapes.glif</string>
	<key>shapes-menu</key>
	<string>shapes-menu.glif</string>
	<key>sidebar-closed</key>
	<string>sidebar-closed.glif</string>
	<key>sidebar-open</key>
	<string>sidebar-open.glif</string>
	<key>subtract</key>
	<string>subtract.glif</string>
	<key>text</key>
	<string>text.glif</string>
	<key>text-ltr</key>
	<string>text-ltr.glif</string>
	<key>text-rtl</key>
	<string>text-rtl.glif</string>
	<key>union</key>
	<string>union.glif</string>
</dict>
</plist>
